<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/QueryInitiator/src/query_Initiator/KeyCombinator.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="query_Initiator.KeyCombinator"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="&quot;k1 k5 k3 k2 k4&quot; 3"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="QueryInitiator"/>
</launchConfiguration>
